.fruit-container{
    width: 100%;
    padding: 0 5%;
}

.checkout{
    background: #32c996;
    height: 600px;
    padding: 0;
    color: white;
    text-align: center;
    h4{
        font-size:20px;
      
    }
   
    
}

.cart-container{

}

.checkout-container{
    width: 90%;
    margin-left: 10%;
    border-top: solid 2px white;
    margin-top: 10px;
}